{%extends "::base.html.twig"%}

{% block body %}



        <div class="container text-center" id="features">
            <div class="row">
                <div class="service-heading-block">
                    <h2 class="text-center text-primary title">Our amazing Service features</h2>
                    <p class="text-center sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br/> Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="text-center feature-block">
                <span class="fb-icon color-info">
                  <i class="fa fa-car" aria-hidden="true"></i>
                </span>
                        <h4 class="color-info">Cloud Upload</h4>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="text-center feature-block">
                <span class="fb-icon color-warning">
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                </span>
                        <h4 class="color-warning">Computer Service</h4>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="text-center feature-block">
                <span class="fb-icon color-success">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                        <h4 class="color-success">Email Service</h4>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="text-center feature-block">
                <span class="fb-icon color-danger">
                  <i class="fa fa-question" aria-hidden="true"></i>
                </span>
                        <h4 class="color-danger">Quality Service</h4>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>

                    </div>
                </div>
            </div>

        </div>

    <hr>

    <div class="container">
        <h2 style="margin-bottom: 30px;">Nos dernières voitures:</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif">
                    <div class="card-block">
                        <figure class="profile">
                            <img src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                        <div class="meta">
                            <a>Friends</a>
                        </div>
                        <div class="card-text">
                            Tawshif is a web designer living in Bangladesh.
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>Last updated 3 mins ago</small>
                        <button class="btn btn-secondary float-right btn-sm">show</button>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif">
                    <div class="card-block">
                        <figure class="profile">
                            <img src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                        <div class="meta">
                            <a>Friends</a>
                        </div>
                        <div class="card-text">
                            Tawshif is a web designer living in Bangladesh.
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>Last updated 3 mins ago</small>
                        <button class="btn btn-secondary float-right btn-sm">show</button>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif">
                    <div class="card-block">
                        <figure class="profile">
                            <img src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                        <div class="meta">
                            <a>Friends</a>
                        </div>
                        <div class="card-text">
                            Tawshif is a web designer living in Bangladesh.
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>Last updated 3 mins ago</small>
                        <button class="btn btn-secondary float-right btn-sm">show</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
